.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  background-color: #222;
}
.title {
  color: white;
}
.drum-machine {
  background-color: antiquewhite;
  height: 20rem;
  width: 30rem;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 2rem;
  padding: 2rem;
  border-radius: 5px;
}
.drum-pad-chunk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
  gap: 0.2rem;
}
.btn {
  cursor: pointer;
  /* border: none; */
  background-color: #222;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
}

.settings {
  display: flex;
  align-items: center;
}
.display {
  height: 3rem;
  width: 13rem;
  background: black;
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
